@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #25252b;
}
.pallet-title {
  /* label informasi untuk membuka tutup kotak nya */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 20%;
  height: 70px;
  width: 320px;
  font-size: 21px;
  font-weight: 900;
  border-radius: 10px;
  background: #bdef07;
  animation: Tuing 2s ease infinite forwards;
}
.pallet-title.active {
  display: none;
}
@keyframes Tuing {
  0% {
    transform: translateX(0px);
    scale: 0.9;
  }
  50% {
    transform: translateX(0px);
    scale: 1;
  }
  100% {
    transform: translateX(0px);
    scale: 0.9;
  }
}
.note {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
}
.gift-container {
  /* Menentukan posisi kotak secara paten */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
}
.gift-container.active {
  /* memberikan efek guncangan surprize saat tutup kotak di klik */
  animation: Vibration 1s ease forwards;
}
@keyframes Vibration {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  70% {
    transform: scale(0.9, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.gift-container .gift-box {
  /* Menentukan ukuran kotak */
  position: absolute;
  height: 200px;
  width: 300px;
  background: #ec9c4a;
  animation: Bounce 4s ease infinite forwards;
}
@keyframes Bounce {
  0% {
    transform: translateY(-24px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-24px);
  }
}
.gift-box.active {
  /* Menonaktifkan animasi gerak kotak ketika sudah di klik */
  animation: none;
}
.gift-box::before {
  /* Membentuk pita garis lurus pada body kotak */
  content: "";
  position: absolute;
  width: 50px;
  height: 200px;
  background: #e76f51;
  left: 124px;
}
.gift-box::after {
  /* Membentuk garis bayang pemisah tutup kotak dengan kotak */
  content: "";
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 200px;
}
.click {
  /* Membentuk tutup kotak */
  position: absolute;
  background: #ec9c4a;
  width: 340px;
  height: 90px;
  top: -90px;
  left: -20px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s ease;
}
.click.active {
  /* Mengangkat/membuka tutup kotak ketika diklik */
  transform: translateY(-240px);
  transition-delay: 1s;
}
.click::before {
  /* Membentuk pita lurus pada tutup kotak */
  content: "";
  position: absolute;
  width: 50px;
  height: 90px;
  background: #e76f51;
  left: 144px;
  z-index: 2;
}
.click::after {
  /* Membentuk bagian pita pada tutup kotak */
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 60px solid #e76f51;
  border-top: 60px solid #e76f51;
  border-left: 0px solid transparent;
  border-right: 60px solid transparent;
  transform: rotate(-90deg);
  top: -93px;
  left: 136px;
  z-index: 3;
}
.gift-container .shadow {
  /* Memeberikan efek shadow/bayangan pada bagian bawah kotak */
  content: "";
  position: relative;
  width: 340px;
  height: 40px;
  background: rgba(0, 0, 0.4);
  top: 100px;
  border-radius: 50%;
  left: -4px;
  animation: BounceOut 4s ease infinite forwards;
}
.gift-container .shadow.active {
  /* Menghentikan shadow hitam setelah kotak di klik dan terbuka */
  animation: none;
}

@keyframes BounceOut {
  0% {
    transform: translateY(24px);
    scale: 0.7;
  }
  50% {
    transform: translateY(0px);
    scale: 1;
  }
  100% {
    transform: translateY(24px);
    scale: 0.7;
  }
}
.text {
  /* Mengatur seluruh bagian panel teks dalam kotak */
  position: absolute;
  top: 0;
  width: 250px;
  background: #ec9c4a;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  border-radius: 5px;
  color: #6108aa;
  z-index: -1;
  scale: 0;
  /* z-index: ;
    transform: translateY(-240px); */
  transition: 0.5s ease;
  transition-delay: 1.2s;
}
.text h4 {
  font-size: 20px;
}
.text.active {
  /* Mengatur perbesaran dan ketinggian panel teks dalam kotak */
  scale: 1;
  transform: translateY(-240px);
}
/* Membuka dan menutup panel teks dalam kotak */
.text.active2 #result {
  top: 0;
  transition-delay: 0.2s;
}

/* Tampilan Mobile */
@media only screen and (max-width: 600px) {
  .pallet-title {
    /* label informasi untuk membuka tutup kotak nya */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 25%;
    height: 40px;
    width: 210px;
    font-size: 13px;
    border-radius: 2px;
    background: #bdef07;
    animation: Tuing 2s ease infinite forwards;
  }
  .text {
    /* Mengatur seluruh bagian panel teks dalam kotak */
    position: absolute;
    top: 0;
    width: 200px;
    background: #ec9c4a;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    color: #6108aa;
    z-index: -1;
    scale: 0;
    /* z-index: ;
    transform: translateY(-240px); */
    transition: 0.5s ease;
    transition-delay: 1.2s;
  }
  .text h4 {
    font-size: 14px;
  }
}
